$darkBlue: #003E5C;
$darkGreen: #146076;
$midGreen: #0B7D96;
$lightGreen: #0696B7;
$orange: #FFA500;
$charcoal: #272A2D;
$darkGrey: #8E8E91;
$midGrey: #ACAEB0;
$lightGrey: #DADADA;
$buffOne: #EEEEEE;
$buffTwo: #F5F6F7;
$statusRed: #EA4D3D;
$statusOrange: #E89435;
$statusYellow: #EAC341;
$statusGreen: #6CBC3F;
$statusBlue: #4FA6EB;
$statusPurple: #B871D4;
$pastelRed: #EE7063;
$pastelOrange: #ECA95D;
$pastelYellow: #EECF67;
$pastelGreen: #89C965;
$pastelBlue: #72B7EF;
$pastelPurple: #C68DDC;
