$screen-sm-min-width : 768px;
$screen-md-min-width : 992px;
$screen-lg-min-width : 1200px;

$font-size-lg: 1.6rem;
$font-size-md: 1.3rem;
$font-size-sm: 1.1rem;
$font-size-xs: 0.9rem;

$padding-xl: 3rem;
$padding-lg: 2.5rem;
$padding-md: 2rem;
$padding-sm: 1rem;
$padding-xs: 0.5rem;

$line-height-lg: 2.2rem;
$line-height-md: 2rem;
$line-height-sm: 1.5rem;
$line-height-xs: 1rem;

$margin-xl: 3rem;
$margin-lg: 2.5rem;
$margin-md: 2rem;
$margin-sm: 1rem;
$margin-xs: 0.5rem;

$icon-width-sm: 2rem;

$icon-height-sm: 2rem;

$button-height-sm: 2.2rem;

$chart-area-height: 23rem;

$layout-height: 3rem;