@import './_mixins';
@import './_variables';

html {
    font-size: 14px;
    
    @media (min-width: $screen-sm-min-width) {
        font-size: 16px;
    };
    
    @media (min-width: $screen-md-min-width) {
        font-size: 20px;
    };
}

@import './_default';
@import './_grid';
@import './_layout';
@import './_button';
@import './_form';

// for develop theme
:global {
    @import './_theme';
}