@import '../styles/_variables';
@import '../styles/_mixins';

.container {
    display: inline-block;
    height: 100%;
    
    
    input {
        display: block;
        height: $line-height-md;
        font-size: $font-size-sm;
        outline: none;
        border: none;
        width: 5rem;
        background: #f4f4f4;
        padding-left: 0.3rem;

        @include placeholder {
            opacity: 0.7;
        }
    }
}