$headLine: (font-size: 24px, font-weight: 400);
$title: (font-size: 20px, font-weight: 700);
$subheader: (font-size: 16px, font-weight: 700);
$menu: (font-size: 14px, font-weight: 700);
$body2: (font-size: 14px, font-weight: 700);
$body1: (font-size: 14px, font-weight: 400);
$caption: (font-size: 12px, font-weight: 400);
$button: (font-size: 14px, font-weight: 700);