.container {
    height: 4rem;
    width: 2.6rem;

    float: right;
    i {
        color: #0696B7;
        font-size: 1.2rem;
    }

    span {
        font-size: 0.8rem;
        font-weight: bold;
        color: #0696B7;
        line-height: 1.2rem;
    }
}